.about-about {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;

    img {
        width: 100%;
        height: auto;
    }

    div {
        width: 100%;
        @include pagePharagraphs();

        h2 {
            font-size: 20px;
            margin-bottom: 20px;

            span {
                color: $main-color;
            }
        }
    }
}

.about-accordion {
    width: 90%;
    margin: 0 auto;
    @include pagePharagraphs();

    h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    div {
        margin-bottom: 30px;
    }
}

.accordion {
    color: $main-color;
    font-family: $main-font;
    font-size: 17px;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #fff;
}

.panel {
    background-color: #fff;
    display: none;
    overflow: hidden;
}

.about-team {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;

    div {
        text-align: center;
        margin-bottom: 30px;
        font-family: $main-font;
        color: $secondary-color;
        img {
            width: 60%;
            height: auto;
        }

        h3 {
            margin: 10px;
            font-size: 20px;
        }
    }
}

.about-team-container h2 {
    text-align: center;
    font-family: $main-font;
    font-size: 20px;
    margin: 30px;
}

@media screen and (min-width: 1000px) {
    .about-about {
        display: flex;
        justify-content: space-between;

        img {
            width: 45%;
        }

        div {
            width: 45%;
        }
    }

    .about-accordion {
        display: flex;
        justify-content: space-between;

        .aa1 {
            width: 45%;
        }
    }

    .about-team {
        display: flex;
        flex-direction: row;
        padding-bottom: 40px;
    }
}