.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2c2d2d;
    font-family: $main-font;
    padding-bottom: 20px;
}

.footerContent {
    margin: 20px;

    a {
        color: #888888;
        text-decoration: none;
        text-align: center;

        h3 {
            font-size: 20px;
            margin: 10px 0;
        }

        h6 {
            font-size: 15px;
            margin: 5px 0;
            font-weight: 400;
        }

        &:hover {
            color: $main-color;
        }
    }
}

.footer-social {
    background-color: #2c2d2d;
    color: #888888;
    font-family: $main-font;
    text-align: center;
    padding-bottom: 20px;

    div {
        font-size: 24px;

        a {
            text-decoration: none;
            color: #888888;

            i {
                margin: 0 10px;
            }
        }
    }

    h5 {
        font-size: 13px;
        margin-top: 20px;
    }
}

.fa-facebook-f:hover {
    color: #00456d;
}

.fa-twitter:hover {
    color: #60c4ff;
}

.fa-linkedin-in:hover {
    color: #1590d8;
}

.fa-google-plus-g:hover {
    color: #af4426;
}

@media screen and (min-width: 1000px) {
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .footerContent {
        margin: 20px;

        a {
            text-align: left;

            h3 {
                font-size: 20px;
                margin: 20px 0;
            }

            h6 {
                font-size: 15px;
                margin: 10px 0;
                font-weight: 400;
            }

            &:hover {
                color: $main-color;
            }
        }
    }
}