#slideshow {
    max-width: 100%;
    position: relative;
}

.slideImg {
    width: 100%;
    height: auto;
    filter: brightness(30%);
}

.slide {
    display: none;
}

.slideText {
    color: $main-color;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
}

.slideText p {
    font-size: 20px;
    color: $secondary-color;
    margin-top: 20px;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}

@-webkit-keyframes fade {
    from {
        opacity: .2
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .2
    }

    to {
        opacity: 1
    }
}

@media screen and (min-width: 1000px) {
    .slideText {
        font-size: 70px;
    }

    .slideText p {
        font-size: 30px;
    }
}