.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  padding-bottom: 20px;
}

.header .title {
  font-size: 2.3em;
  color: #ff5722;
  text-transform: uppercase;
  font-family: "Open Sans";
}

.header i {
  font-size: 1.2em;
  padding: 8px 12px;
  color: #4e4f51;
  border: 1px solid #d9dde2;
}

.header .nav {
  width: 100%;
  text-align: center;
  display: none;
}

.header .nav a {
  text-decoration: none;
  color: #4e4f51;
}

.header .nav a:hover {
  color: #ff5722;
}

.header .nav a h1 {
  font-size: 1.2em;
  margin-bottom: 20px;
  font-family: "Open Sans";
}

@media screen and (min-width: 1000px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header .nav hr {
    display: none;
  }
  .header .nav a {
    text-decoration: none;
    color: #4e4f51;
  }
  .header .nav a h1 {
    font-size: 1em;
    margin-bottom: 0px;
    font-family: "Open Sans";
  }
  #menuButton {
    display: none;
  }
  .title {
    width: 30%;
    text-align: center;
  }
}

#slideshow {
  max-width: 100%;
  position: relative;
}

.slideImg {
  width: 100%;
  height: auto;
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.slide {
  display: none;
}

.slideText {
  color: #ff5722;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
}

.slideText p {
  font-size: 20px;
  color: #888888;
  margin-top: 20px;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: .2;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .2;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 1000px) {
  .slideText {
    font-size: 70px;
  }
  .slideText p {
    font-size: 30px;
  }
}

.home-services-title {
  text-align: center;
  margin: 35px 0;
  font-family: "Open Sans";
  font-size: 30px;
}

.home-services-pharagraph {
  text-align: center;
  font-family: "Open Sans";
  color: #4e4f51;
  font-size: 17px;
  line-height: 1.3;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.home-services-container {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-service {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.home-service i {
  font-size: 40px;
  color: #ff5722;
  margin-right: 15px;
  margin-top: 10px;
}

.home-service div h5 {
  font-size: 20px;
  font-family: "Open Sans";
  margin-bottom: 10px;
}

.home-service div p {
  text-align: center;
  font-family: "Open Sans";
  color: #4e4f51;
  font-size: 17px;
  line-height: 1.3;
  text-align: left;
}

@media screen and (min-width: 1000px) {
  .home-services-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .home-service {
    width: 30%;
    margin-bottom: 50px;
  }
}

.home-about {
  background-color: #ededed;
  padding: 20px 0;
}

.home-about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
}

.home-about-container div {
  width: 100%;
}

.home-about-container div p {
  text-align: center;
  font-family: "Open Sans";
  color: #4e4f51;
  font-size: 17px;
  line-height: 1.3;
  text-align: left;
  margin-bottom: 40px;
}

.home-about-container div i {
  font-size: 15px;
  color: #ff5722;
  margin-bottom: 10px;
}

.home-about-container div i span {
  color: #4e4f51;
  font-size: 15px;
  font-family: "Open Sans";
  letter-spacing: 1px;
}

.home-about-container div a {
  text-decoration: none;
}

.home-about-container div a h5 {
  color: #fff;
  background-color: #ff5722;
  padding: 10px 0;
  text-align: center;
  max-width: 30%;
  font-family: "Open Sans";
  margin: 20px 0;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.home-about-container div a h5:hover {
  background-color: #fff;
  color: #ff5722;
  border: 1px solid #ff5722;
}

.home-about-container img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1000px) {
  .home-about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .home-about-container div {
    width: 42%;
  }
  .home-about-container img {
    width: 50%;
    height: auto;
  }
}

html {
  scroll-behavior: smooth;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}
/*# sourceMappingURL=style.css.map */